{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} CoreM - Salidas {% endblock title %}

{% block css %}

<!-- Kendo -->
<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.rtl.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.common-bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.bootstrap.min.css' %}"/>


<!-- Select2 -->
<link rel="stylesheet" href="{% static 'libs/plugins/select2/select2.min.css' %}"/>

<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{% static 'libs/plugins/datepicker/datepicker3.css' %}">

<!-- CoreM -->
<link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
	<span id="titulo">Salidas</span>
	<small>{{ operation }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{% url 'dashboards:inicio' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'inventarios:salidas_lista' %}">Salidas</a></li>
		<li class="active">Nuevo</li>

	</ol>
</section>
<!-- Main content -->
<section class="content" id="contenido">
	<div class="row">
		<div class="col-md-12">
			<!-- Formulario -->
			<div class="box box-solid box-primary" id="id_panel">
				<div class="box-header with-border">
					<h3 class="box-title">Entrada</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
				<form role="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
					<div class="box-body">
						{% if id_cabecera %}
						<input type="hidden" id="id_cabecera" value="{{ id_cabecera }}" name="id_cabecera">
						{% else %}
						<input type="hidden" id="id_tipo" name="tipo" value="ENT">
						{% endif %}
						<div class="row">
							<div class="form-group input-group-sm col-sx-12 col-sm-7 col-md-7 {% if form.descripcion.field.required %} has-warning {% endif %} {% if form.descripcion.errors %} has-error {% endif %}">
								<label for="{{ form.descripcion.id_for_label }}">
								<i class="fa {% if form.descripcion.field.required %} fa-asterisk {% endif %} {% if form.descripcion.errors %} fa-circle-o {% endif %}"></i>
								Descripción</label>
								{{ form.descripcion }}
								{% for error in form.descripcion.errors %}
								<span class="help-block">{{ error }}</span>
								{% endfor %}
							</div>
							<div class="form-group input-group-sm col-sx-12 col-sm-5 col-md-5 {% if form.fecha.field.required %} has-warning {% endif %} {% if form.fecha.errors %} has-error {% endif %} ">

								<label for="{{ form.fecha.id_for_label}}">
									<i class="fa {% if form.fecha.field.required %} fa-asterisk {% endif %} {% if form.fecha.errors %} fa-circle-o {% endif %}"></i>
									Fecha
								</label>

								<div class="form-group input-group">
					            	<div class="input-group-addon">
					                	<i class="fa fa-calendar"></i>
					            	</div>
					                {{ form.fecha }}
					            </div>

					            {% for error in form.fecha.errors %}
								    <span class="help-block">{{ error }}</span>
									{% endfor %}						
					        </div>
						</div>
						<div class="row">
							<div class="form-group input-group-sm col-sx-12 col-sm-6 col-md-6 {% if form.almacen_origen.field.required %} has-warning {% endif %} {% if form.almacen_origen.errors %} has-error {% endif %}">
								<label for="{{ form.almacen_origen.id_for_label }}">
								<i class="fa {% if form.almacen_origen.field.required %} fa-asterisk {% endif %} {% if form.almacen_origen.errors %} fa-circle-o {% endif %}"></i>
								Almacén Origen</label>
								{{ form.almacen_origen }}
								{% for error in form.almacen_origen.errors %}
								<span class="help-block">{{ error }}</span>
								{% endfor %}
								
							</div>
							<div class="form-group input-group-sm col-sx-12 col-sm-6 col-md-6 {% if form.almacen_destino.field.required %} has-warning {% endif %} {% if form.almacen_destino.errors %} has-error {% endif %}">
								<label for="{{ form.almacen_destino.id_for_label }}">
								<i class="fa {% if form.almacen_destino.field.required %} fa-asterisk {% endif %} {% if form.almacen_destino.errors %} fa-circle-o {% endif %}"></i>
								Almacén Destino</label>
								{{ form.almacen_destino }}
								{% for error in form.almacen_destino.errors %}
								<span class="help-block">{{ error }}</span>
								{% endfor %}
								
							</div>
							<div class="form-group input-group-sm col-sx-12 col-sm-3 col-md-3"></div>
							<div class="form-group input-group-sm col-sx-12 col-sm-3 col-md-3"></div>
						</div>
						<div class="row">
							
					        <div class="form-group input-group-sm col-sx-12 col-sm-6 col-md-6 {% if form.persona_recibe.field.required %} has-warning {% endif %} {% if form.persona_recibe.errors %} has-error {% endif %}">
								<label for="{{ form.persona_recibe.id_for_label }}">
								<i class="fa {% if form.persona_recibe.field.required %} fa-asterisk {% endif %} {% if form.persona_recibe.errors %} fa-circle-o {% endif %}"></i>
								Persona Recibe</label>
								{{ form.persona_recibe }}
								{% for error in form.persona_recibe.errors %}
								<span class="help-block">{{ error }}</span>
								{% endfor %}
							</div>
							<div class="form-group input-group-sm col-sx-12 col-sm-6 col-md-6 {% if form.persona_entrega.field.required %} has-warning {% endif %} {% if form.persona_entrega.errors %} has-error {% endif %}">
								<label for="{{ form.persona_entrega.id_for_label }}">
								<i class="fa {% if form.persona_entrega.field.required %} fa-asterisk {% endif %} {% if form.persona_entrega.errors %} fa-circle-o {% endif %}"></i>
								Persona Entrega</label>
								{{ form.persona_entrega }}
								{% for error in form.persona_entrega.errors %}
								<span class="help-block">{{ error }}</span>
								{% endfor %}
							</div>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<a class="btn btn-default" href="{% url 'inventarios:salidas_lista' %}">
							<i class="fa fa-arrow-circle-left"></i>
							Regresar
						</a>

						<button type="submit" id="boton_guardar" class="btn btn-success pull-right">
							<i class="fa fa-save"></i>
							{% if id_cabecera %} Actualizar {% else %} Guardar {% endif %}
						</button>
					</div>
				</form>
			</div>
			<!-- /.box -->
			{% if id_cabecera %}
			<form role="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
			<div class="box box-info">
				<div class="box-header box-header-border">
					<h3 class="box-title">Detalle</h3>
					<div class="box-tools pull-right">
						<button type="button" id="boton_nuevo" class="btn bg-purple btn-sm">
						<i class="fa fa-plus-circle"></i>
						Nuevo
						</button>
						<button type="button" id="boton_exportar" class="btn bg-olive btn-sm">
						<i class="fa fa-file-excel-o"></i>
						Exportar
						</button>
					</div>
				</div>
				<div id="grid_principal">
				</div>
				<div class="box-footer">
					<input type="hidden" value="{{ id_cabecera }}" id="id_cabecera_stock" name="cabecera_stock">
					<div class="box-tools pull-left">
						<button type="submit" id="boton_finalizar" class="btn bg-olive btn-sm">
						<i class="fa fa-save"></i>
						Finalizar
						</button>
					</div>
				</div>
			</div>
			</form>
			{% endif %}
            <!-- /.box-body -->
          </div>
			<!-- /.box -->
		</div>
	</div>
	<div class="modal fade" id="modal_nuevo" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-default">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span></button>
	                <h4 class="modal-title">Agregar Articulo</h4>
	            </div>
	            
	            <div class="modal-body">
	            	<input type="hidden" id="cabecera" value="{{ id_cabecera }}" name="cabecera">
					<div class="row">
						<div id="articulo_contenedor" class="form-group input-group-sm col-sx-12 col-sm-12 col-md-12 has-warning select2--fix">
							<label for="articulo">
							<i class="fa fa-asterisk"></i>
							Articulo</label>
							
							<select name="articulo" id="id_articulo" class="form-control"></select>
							
							<span class="help-block hidden" id="articulo_mensaje">Este campo es requerido.</span>			
					    </div>
					</div>
					<div class="row">
						<div id="cantidad_contenedor" class="form-group input-group-sm col-sx-12 col-sm-12 col-md-12 has-warning">
							<label for="cantidad">
							<i class="fa fa-asterisk"></i>
							Cantidad</label>
							<input type="text" class="form-control" name="cantidad" id="id_cantidad">
							<span class="help-block hidden" id="cantidad_mensaje">Este campo es requerido.</span>
						</div>
					</div>
	            </div>

	            <div class="modal-footer">
		            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
		            	<i class="fa fa-close"></i>
		            	Cerrar
		            </button>
		            <button type="button" id="boton_guardar_detalle" class="btn btn-success">
		            	<i class="fa fa-save"></i>
		            	Guardar
		            </button>
	            </div>
	        </div>
	            <!-- /.modal-content -->
	    </div>
	</div>
</section>
<!-- /. Main content -->
{% endblock contenido %}

{% block scripts %}

<!-- Kendo Js -->
<script src="{% static 'libs/plugins/kendo_2015_2_624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
<script src="{% static 'libs/plugins/kendo_2015_2_624/js/kendo.web.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'libs/plugins/select2/select2.full.min.js' %}"></script>

<!-- bootstrap datepicker -->
<script src="{% static 'libs/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'libs/plugins/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

<!-- CoreM -->
<script src="{% static 'salida/formulario.js' %}"></script>

{% endblock scripts %}