{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Editar Equipo {% endblock title %}

{% block contenido %}

	<!-- Content Header (Page header) -->
	<section class="content-header">
	  <h1>
	    <span id="titulo">Equipos</span>
	    <small>Editar</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="{% url 'seguridad.dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	    <li><a href="{% url 'activos.equipos_lista' %}">Equipos</a></li>
	    <li class="active">Editar</li>
	  </ol>
	</section>

	<!-- Main content -->
	<section class="content" id="contenido">

		<div class="row">
	        <div class="col-md-12">

	          <!-- Filtros -->
	          <div class="box box-primary">
	            <div class="box-header with-border">
	              <h3 class="box-title">Editando Equipo: <strong> {% if tag %} {{ tag }} {% endif %}</strong> </h3>
	            </div>
	            <!-- /.box-header -->
					<form role="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
		              <div class="box-body">
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.descripcion.name}}">{{ form.descripcion.label }}</label>
									{{ form.descripcion }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.serie.name }}">{{ form.serie.label }}</label>
									{{ form.serie }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.tipo.name }}">{{ form.tipo.label }}</label>
									{{ form.tipo }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.estado.name }}">{{ form.estado.label}}</label>
									{{ form.estado }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.padre.name }}">{{ form.padre.label }}</label>
									{{ form.padre }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.empresa.name }}">{{ form.empresa.label }}</label>
									{{ form.empresa }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.sistema.name }}">{{ form.sistema.label }}</label>
									{{ form.sistema }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								<div class="form-group">
									<div class="col-sm-12"><label for="{{ form.ubicacion.name }}">{{ form.ubicacion.label }}</label>
									{{ form.ubicacion }}
									</div>
								</div>
							</div>
						</div>			

		              </div>
		              <!-- /.box-body -->
		             <div class="box-footer">
		              	<div class="row">
		              		<div class="col-sm-10 col-md-offset-1">
		              			<div class="pull-right form-group">
		              				<div class="col-sm-12">
		              					<a class="btn btn-default" href="{% url 'activos.equipos_lista' %}">Regresar</a>		              				
		              					<button type="submit" class="btn btn-primary">Guardar</button>
		              				</div>
		              			</div>
		              		</div>
		              	</div>
		              </div>
		              <!-- /.box-footer -->
					</form>
	            </form>
	          </div>
	          <!-- /.box -->

	        </div>			

		</div>

	</section>
	<!-- /. Main content -->

{% endblock contenido %}