{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Anexos Articulo {% endblock title %}

{% block css %}

	<!-- Kendo -->

	<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.common.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.default.min.css' %}"/>
	
	<!-- Bootstrap Wysihtml5 -->

	<link rel="stylesheet" href="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

{% endblock css %}	

{% block contenido %}

	<!-- Content Header (Page header) -->
	<section class="content-header">
	  <h1>
	    <span id="titulo">Articulos</span>
	    <small>Anexos</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="{% url 'seguridad:dashboard' %}"><i class="fa fa-home"></i> Inicio</a></li>
	    <li><a href="{% url 'inventarios:articulos_lista' %}">Articulos</a></li>
	    <li class="active">Anexos</li>
	  </ol>
	</section>

	<!-- Main content -->
	<section class="content" id="contenido">
		<div class="row">
	        <div class="col-md-12">
				<input id="id_equipo" type="hidden" value="{{ id }}">
		        <div class="box box-info">
		            <div class="box-header with-border">
			            <div class="box-header with-border">
			           		  
			              <h3 class="box-title">Articulo: <strong> {{ articulo.clave }} - {{ articulo.descripcion }}</strong></h3>
			            </div>
			            <div class="box-body">
			            	<a class="btn btn-app btn-primary active">
				           	<i class="fa fa-text-width"></i> Texto
					        </a>
					        <a href="/articulos/anexos/{{id}}/imagen" class="btn btn-app">
					        	<i class="fa fa-file-image-o"></i> Imagen
					        </a>
					        <a href="/articulos/anexos/{{id}}/archivo" class="btn btn-app">
					            <i class="fa fa-file-o"></i> Archivo
					        </a>
			            </div>
		        </div> 
		    </div>
     <div class="box box-solid box-primary collapsed-box" id="id_panel">
		            <div class="box-header with-border">
		            	<h3 class="box-title">Anexar Texto</h3>

			          	<div class="box-tools pull-right">
			            	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
			          	</div>	              
		            </div>
	                <div class="box-body">
						<form role="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
		              		
		               			
							<div class="row">
								<div class="col-sm-10 col-md-offset-1">
									
										<div class="form-group input-group-sm {% if form.titulo.field.required %} has-warning {% endif %} {% if titulo.field.errors %} has-error {% endif %}">
										
										<label for="{{ form.titulo.label }}">
											<i class="fa {% if form.titulo.field.required %} fa-asterisk {% endif %} {% if titulo.field.errors %} fa-asterisk {% endif %}"></i>
											{{ form.titulo.label }}
										</label>
										{{ form.titulo }}
										
										{% for error in titulo.field.errors %}
											<div class="help-block text-right" id="{{ form.titulo.label }}-error">
												{{ error }}
											</div>
										{% endfor %}
										</div>

										<div class="form-group {% if form.texto.field.required %} has-warning {% endif %} {% if texto.field.errors %} has-error {% endif %}">
										
										<label for="{{ form.texto.label }}">
											<i class="fa {% if form.texto.field.required %} fa-asterisk {% endif %} {% if texto.field.errors %} fa-asterisk {% endif %}"></i>
											{{ form.texto.label }}
										</label>
										{{ form.texto }}
										
										{% for error in texto.field.errors %}
											<div class="help-block text-right" id="{{ form.texto.label }}-error">
												{{ error }}
											</div>
										{% endfor %}
										</div>
								
								</div>
							</div>
					   			
		              <!-- /.box-body -->  
		              
	        	</div>
	        		 <div class="box-footer">
		        		 <div class="col-xs-12">
		        		 	 <button type="submit"  class="btn btn-success pull-right">Guardar</button>
		        		 </div>
	              	</div>
					<!-- /.box-footer -->
	              </form>
	    		</div> 	
	          <!-- /.box -->			

		</div>
</div>
		<div class="row" id="items_anexos">
		{% for anexo in anexos %}
			<div class="col-md-4" id="{{ anexo.id }}">
          		<div class="box box-solid">
            		<div class="box-header with-border">
              			<i class="fa fa-text-width"></i>
						<div class="pull-right">
              				<button data-action="{{ anexo.id }}" class="btn btn-danger btn-sm"><i class="fa fa-trash" title="Eliminar"></i></button>
            			</div>	
              			<h3 class="box-title">{{ anexo.titulo }}</h3>
            		</div>
            		<!-- /.box-header -->
		            <div class="box-body">
						
		              {{ anexo.texto|safe }}

		            </div>
            		<!-- /.box-body -->
          		</div>
          <!-- /.box -->
        	</div>
        	{% endfor %}
 
		</div>

	</section>
	<!-- /. Main content -->

{% endblock contenido %}

{% block scripts %}

	<!-- Kendo Js -->	

	<script src="{% static 'libs/plugins/kendo_2015_2_624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/plugins/kendo_2015_2_624/js/kendo.web.min.js' %}"></script>

	
	<!-- Bootstrap Wysihtml5  -->

	<script src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

	<!-- CoreM -->

	<script src="{% static 'articulo/anexos/texto.js' %}"></script>

{% endblock scripts %}