.k-grid {
	font-size: 12px;
	border-radius: 0 !important;
}

    .k-grid .k-grid-header {
    	font-family: Helvetica Neue !important;
    	font-size: 11px;
	}

.grid-empy {
	font-size: 32px;
	text-align: center;
	font-family: Helvetica Neue !important;
}

.grid-header {
	font-family: Helvetica Neue;
	font-size: 12px;
}

.boton_editar {
	color: white;
	background-color: #EE8A11;
	border-color: #D97C06;
	font-family: Helvetica Neue !important;
}

.boton_editar:hover {
	color: white;
	background-color: #D97C06;
	font-family: Helvetica Neue !important;
}

.boton_eliminar {
	color: white;
	background-color: #D53326;
	border-color: #CE2215;
	font-family: Helvetica Neue !important;
}

.boton_eliminar:hover {
	color: white;
	background-color: #CE2215;
	font-family: Helvetica Neue !important;
}

.boton_default {
	color: white;
	background-color: #2C78B0;
	border-color: #286A9B;
	font-family: Helvetica Neue !important;	
}

.boton_default:hover {
	color: white;
	background-color: #286A9B;
	font-family: Helvetica Neue !important;
}

.cell--activo {
	background-color: #149948;
	color: white;
	text-align: center;	
}

.cell--deshabilitado {
	background-color: #F2F2F2;
	color: black;
	text-align: center;	
}

.cell--reparacion {
	background-color: #EE8A11;
	color: white;
	text-align: center;	
}