.grid-empy {
	font-size: 35px;
	text-align: center;
}

.boton_editar {
	color: white;
	background-color: #EE8A11;
}

.boton_editar:hover {
	color: white;
	background-color: #C3700E;
}


.boton_eliminar {
	color: white;
	background-color: #D53326;
}

.boton_eliminar:hover {
	color: white;
	background-color: #CE2215;
}