{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} CoreM - UDM de Odometro {% endblock title %}

{% block css %}

<!-- Kendo -->
<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.rtl.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.common-bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/plugins/kendo_2015_2_624/styles/kendo.bootstrap.min.css' %}"/>

<!-- Pace -->
<link rel="stylesheet" href="{% static 'libs/plugins/pace/pace.min.css' %}"/>

<!-- CoreM -->
<link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
	<span id="titulo">UDM de Odometro</span>
	<small>Consulta</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{% url 'seguridad:dashboard' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li class="active">UDM de Odometro</li>
	</ol>
</section>
<!-- Main content -->
<section class="content" id="contenido">
	<div class="row">
		<div class="col-md-12">
			<!-- Filtros -->
			<div class="box box-solid box-info" id="id_panel">
				<div class="box-header with-border">
					<h3 class="box-title">Filtro</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="input-group input-group-sm">
						<input type="text" class="form-control" id="filtro">
						<span class="input-group-btn">
							<button type="button" id="boton_buscar" class="btn btn-info btn-flat">
								<i class="fa fa-search"></i>
								Buscar
							</button>
						</span>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="box box-info">
				<div class="box-header box-header-border">
					<h3 class="box-title">Registros</h3>
					<div class="box-tools pull-right">
						<button type="button" id="boton_nuevo" class="btn bg-purple btn-sm">
						<i class="fa fa-plus-circle"></i>
						Nuevo
						</button>
						<button type="button" id="boton_exportar" class="btn bg-olive btn-sm">
						<i class="fa fa-file-excel-o"></i>
						Exportar
						</button>
					</div>
				</div>
				<div id="grid_principal">
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<!-- /. Main content -->
{% endblock contenido %}

{% block scripts %}

<!-- Kendo Js -->
<script src="{% static 'libs/plugins/kendo_2015_2_624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
<script src="{% static 'libs/plugins/kendo_2015_2_624/js/kendo.web.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'libs/plugins/select2/select2.full.min.js' %}"></script>

<!-- Pace -->
<script src="{% static 'libs/plugins/pace/pace.min.js' %}"></script>

<!-- CoreM -->
<script src="{% static 'udm_odometro/lista.js' %}"></script>

{% endblock scripts %}