{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} {{ operation }} Odómetros {% endblock title %}

{% block css %}

	<!-- Select2 -->
	<link rel="stylesheet" href="{% static 'libs/plugins/select2/select2.min.css' %}"/>

{% endblock %}

{% block contenido %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
	<span id="titulo">Odómetros</span>
	<small>{{ operation }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{% url 'seguridad.dashboard' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'activos:equipos_lista' %}">Odometros</a></li>
		<li class="active"> {{ operation }}</li>
	</ol>
</section>

<!-- Main content -->
<section class="content" id="contenido">
	<div class="row">
		<div class="col-md-12">
			<!-- Filtros -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Favor de proporcionar los siguientes datos:</h3>
				</div>
				<!-- /.box-header -->
				<form role="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
					<div class="box-body">


						<!-- Clave y Descripcion -->
						<div class="row">
							<div class="col-sm-4">

								<div class="form-group input-group-sm {% if form.clave.field.required %} has-warning {% endif %} {% if form.clave.errors %} has-error {% endif %}">

								  	<label class="control-label">
								  		<i class="fa {% if form.clave.field.required %} fa-asterisk {% endif %} {% if form.clave.errors %} fa-asterisk {% endif %}"></i> 
								  		{{ form.clave.label }} 
								 	</label>
								    {{ form.clave }}
								  
								    {% for error in form.clave.errors %}
								    <span class="help-block">{{ error }}</span>
								    {% endfor %}
								</div>
							</div>

							<div class="col-sm-8">

								<div class="form-group input-group-sm {% if form.descripcion.field.required %} has-warning {% endif %} {% if form.descripcion.errors %} has-error {% endif %}">

								  	<label class="control-label">
								  		<i class="fa {% if form.descripcion.field.required %} fa-asterisk {% endif %} {% if form.descripcion.errors %} fa-asterisk {% endif %}"></i> 
								  		{{ form.descripcion.label }} 
								 	</label>
								    {{ form.descripcion }}
								  
								    {% for error in form.descripcion.errors %}
								    <span class="help-block">{{ error }}</span>
								    {% endfor %}
								</div>
							</div>	
						</div>	

						<!-- Equipo, UDM y Activo -->
						<div class="row">
							<div class="col-sm-6">

								<div class="form-group input-group-sm {% if form.equipo.field.required %} has-warning {% endif %} {% if form.equipo.errors %} has-error {% endif %}">

								  	<label class="control-label">
								  		<i class="fa {% if form.equipo.field.required %} fa-asterisk {% endif %} {% if form.equipo.errors %} fa-asterisk {% endif %}"></i> 
								  		{{ form.equipo.label }} 
								 	</label>
								    {{ form.equipo }}
								  
								    {% for error in form.equipo.errors %}
								    <span class="help-block">{{ error }}</span>
								    {% endfor %}
								</div>
							</div>

							<div class="col-sm-6">

								<div class="form-group input-group-sm {% if form.udm.field.required %} has-warning {% endif %} {% if form.udm.errors %} has-error {% endif %}">

								  	<label class="control-label">
								  		<i class="fa {% if form.udm.field.required %} fa-asterisk {% endif %} {% if form.udm.errors %} fa-asterisk {% endif %}"></i> 
								  		{{ form.udm.label }} 
								 	</label>
								    
									<div class="input-group input-group-sm">
										{{ form.udm }}
									  	<div class="input-group-btn input_icons">
											<a href="#win_udm" class="btn btn-default btn-sm" data-toggle="modal" id="btn_edit_udm">
												<i class="glyphicon glyphicon-pencil"></i>
											</a>
											<a href="#win_udm" class="btn btn-default btn-sm" data-toggle="modal" id="btn_new_udm">
												<i class="glyphicon glyphicon-plus-sign"></i>
											</a>
										</div>
									</div>
								  
								    {% for error in form.udm.errors %}
								    <span class="help-block">{{ error }}</span>
								    {% endfor %}
								</div>
							</div>
						</div>	

						<div class="row">
							
							<div class="col-sm-12">

								<div class="form-group input-group-sm {% if form.esta_activo.field.required %} has-warning {% endif %} {% if form.esta_activo.errors %} has-error {% endif %}">

								  	<label class="control-label">
								  		<i class="fa {% if form.esta_activo.field.required %} fa-asterisk {% endif %} {% if form.esta_activo.errors %} fa-asterisk {% endif %}"></i> 
								  		<div>{{ form.esta_activo.label }} </div>
								 	</label>
								    {{ form.esta_activo }}
								  
								    {% for error in form.esta_activo.errors %}
								    <span class="help-block">{{ error }}</span>
								    {% endfor %}
								</div>

							</div>							
						</div>

					</div>
					<!-- /.box-body -->

					<div class="box-footer">
						<a class="btn btn-default" href="{% url 'activos:odometros_lista' %}">
							<i class="fa fa-arrow-circle-left"></i>
							Regresar
						</a>
						<button type="submit" class="btn btn-success pull-right">
							<i class="fa fa-save"></i>
							Guardar
						</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
			<!-- /.box -->
		</div>
	</div>

	<!-- PopUp -->
	<div class="modal fade" tabindex="-1" role="dialog" id="win_udm">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">

				<input class="hidden" id="udm_id" type="text" />

				<div class="row">
					<div class="col-sm-10 col-md-offset-1">
						<div class="form-group input-group-sm has-warning" id="udm_clave_contenedor">
							<label for="udm_clave">
								<i class="fa  fa-asterisk  "></i>
								Clave:
							</label>
							<input class="form-control" id="udm_clave" maxlength="144" type="text" />
							<span class="help-block hidden" id="udm_clave_mensaje">Este campo es requerido.</span>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="col-sm-10 col-md-offset-1">
						<div class="form-group input-group-sm has-warning" id="udm_desc_contenedor">
							<label for="udm_descripcion">
								<i class="fa fa-asterisk"></i>
								Descripcion:
							</label>
							<input class="form-control" id="udm_descripcion" maxlength="144" type="text" />
							<span class="help-block hidden" id="udm_desc_mensaje">Este campo es requerido.</span>
						</div>
					</div>
				</div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
	        	<i class="fa fa-close"></i>
	        	Cerrar
	        </button>
	        <button type="button" class="btn btn-success" id="bnt_udm-save">
	        	<i class="fa fa-save"></i>
	        	Guardar
	        </button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


</section>
<!-- /. Main content -->
{% endblock contenido %}

{% block scripts %}

<!-- Select2 -->
<script src="{% static 'libs/plugins/select2/select2.full.min.js' %}"></script>

<!-- CoreM -->
<script src="{% static 'odometro/formulario.js' %}"></script>

{% endblock %}