{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} {{ operation }} Odómetros {% endblock title %}

{% block css %}

<!-- Select2 -->
<link rel="stylesheet" href="{% static 'libs/plugins/select2/select2.min.css' %}"/>

<!-- CoreM -->
<link rel="stylesheet" href="{% static 'odometro/formulario.css' %}"/>

{% endblock %}

{% block contenido %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
	<span id="titulo">Equipos</span>
	<small>Odómetros</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{% url 'seguridad.dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="{% url 'activos.equipos_lista' %}">Equipos</a></li>
		<li class="active">Odómetros</li>
	</ol>
</section>
<!-- Main content -->
<section class="content" id="contenido">
	<div class="row">
		<div class="col-md-12">
			<!-- Filtros -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Favor de proporcionar los siguientes datos:</strong></h3>
				</div>
				<!-- /.box-header -->
				<form role="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
					<div class="box-body">
						<div class="row">
							<div class="col-sm-10 col-md-offset-1">
								{% for field in form %}
									<div class="form-group input-group-sm {% if field.field.required %} has-warning {% endif %} {% if field.errors %} has-error {% endif %}">
									
									<label for="{{ field.label }}">
										<i class="fa {% if field.field.required %} fa-asterisk {% endif %} {% if field.field.errors %} fa-times-circle-o {% endif %}"></i>
										{{ field.label_tag }}
									</label>
									{{ field }}
									
									{% for error in field.errors %}
										<div class="help-block text-right" id="{{ field.label }}-error">
											{{ error }}
										</div>
									{% endfor %}
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<div class="row">
								<div class="col-sm-10 col-md-offset-1">
									<div class="pull-right form-group">
										<div class="col-sm-12">
											<a class="btn btn-default" href="{% url 'activos.odometros_lista' %}">Regresar</a>
											<button type="submit" class="btn btn-success">Guardar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.box-footer -->
					</div>
				</form>
			</div>
		<!-- /.box -->
	</div>
</section>
<!-- /. Main content -->
{% endblock contenido %}

{% block scripts %}

<!-- Select2 -->
<script src="{% static 'libs/plugins/select2/select2.full.min.js' %}"></script>

<!-- CoreM -->
<script src="{% static 'odometro/formulario.js' %}"></script>

{% endblock %}